<h2>Show Info</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @info.name %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @info.body %>
  </li>

</ul>

<span><%= link "Edit", to: info_path(@conn, :edit, @info) %></span>
<span><%= link "Back", to: info_path(@conn, :index) %></span>
